<section id="loginApp" data-basepath="{{.BasePath}}" data-actionparam="{{.ActionParam}}" data-csrf="{{.CSRFToken}}">
  <h2>Login</h2>
  <div class="wb-grid">
    <div>
        <form method="post" action="{{.BasePath}}" onsubmit="return adminerSubmitFallback(this);">
          <input type="hidden" name="{{.ActionParam}}" value="connect">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <input type="hidden" name="dsn" id="wb_dsn">
          <table class="wb-form">
          <tr>
            <th>System</th>
            <td>
              <select v-model="driver" name="driver" required>
                <option value="postgres">PostgreSQL</option>
                <option value="mysql">MySQL</option>
                <option value="sqlite">SQLite</option>
                <option value="sqlserver">SQL Server</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Server</th>
            <td><input v-model="server" name="server" placeholder="localhost"></td>
          </tr>
          <tr>
            <th>Port</th>
            <td><input v-model="port" name="port" placeholder="optional"></td>
          </tr>
          <tr>
            <th>Username</th>
            <td><input v-model="username" name="username" autocomplete="username"></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><input type="password" v-model="password" name="password" autocomplete="current-password"></td>
          </tr>
          <tr>
            <th>Database</th>
            <td><input v-model="database" name="database" placeholder="optional"></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit" @click="submit">Login</button>
              <label style="margin-left:1em"><input type="checkbox" v-model="remember" name="remember" value="1"> Permanent login</label>
            </td>
          </tr>
          </table>
        </form>
    </div>
  </div>
</section>
